# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# IDE and Editor
.vscode/
.idea/
*.swp
*.swo
*.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# Optional: Framework-specific
.next/
.svelte-kit/
